@{
    ViewBag.Title = "Database";
}

<div class="jumbotron">
    <h1>Neo4j working</h1>
</div>

<div>
    <div>
        <b>Test of query- insert a node : label User with   Id = 456, Name = "Jim"</b>
        <br />
        <br />


        <b>Retrieve that node from the dabase, output Id info and output name info</b>
        <br />
        <br />



        id => @ViewBag.id
        <br />
        Name => @ViewBag.name

    </div>
</div>