@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INDEX PAGE - Home</h1>

    @Html.ActionLink("Login Page", "Login")


    @Html.ActionLink("Create account Page", "Create")



    
    
   
    
</div>

